.section-title {
  font-size: 36px;
  margin: 0 0 0 14px;
  position: relative;

  &::before {
    content: '';
    background-image: url('../../assets/images/dots-bg.svg');
    display: block;
    height: 37px;
    width: 37px;
    position: absolute;
    left: -14px;
    top: -14px;
  }
}
